.game-area {
  border: 1px solid black;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  width: 251px;
  height: 251px;
  &.disabled-area {
    
    .area-col {
      cursor: not-allowed!important;
      &:hover {
        background: #fff;
      }

      &:active {
        background: #fff!important;
      }
    }
  }
}

.game-area-col {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-name {
  text-align: center;
  margin-bottom: 25px;
}

.area-row-name {
  position: absolute;
  left: -20px;
  pointer-events: none;
  user-select: none;
}

.area-col-name {
  position: absolute;
  top: -25px;
  pointer-events: none;
  user-select: none;
}

.area-row {
  display: flex;
  flex: 1;
  position: relative;
}

.area-col {
  padding: 1px;
  border: 1px solid black;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .25s;
  cursor: pointer;

  &:hover {
    background: rgba(0,0,0,.1);
  }

  &:active {
    background: rgba(0,0,0,.2);
  }
}

.ship {
  background: #000;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all .25s;

  &.missed-shot {
    background: #c3bcbc!important;
    
    &::after {
      content: "x";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      line-height: 25px;
      padding: 0;
      margin: 0;
      font-size: 25px;
    }
  }
}

.ships-row {
  justify-content: space-around;
  margin: 25px;

  .ship {
    max-width: 25px;
    width: 25px!important;
    height: 25px!important;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    width: auto;
    transition: all .25s;
  }
}

.user-ready-alert {
  position: fixed!important;
  right: 0;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  top: 25%;
}

.alert.ships-warning-alert {
  position: fixed;
  right: 25px;
  top: 25px;
}

.game-buttons {
  margin-bottom: 50px;

  & > div {
    display: flex;
    justify-content: center;
  }
}

.ship.my-ship,.ship.enemy-ship {
  &.shooted {
    background: red!important;
  }
}

